*{
    list-style: none;
}

.no-decoration{
    text-decoration: none;
}

.title{
    font-family: 'Permanent Marker', cursive;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    gap: 5px;
}

.container{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h2{
    color: white;
    text-align: end;
    margin-right: 20px;
    font-size: 40px;
}

.bi-pencil{
    right: 30px;
}

.bi-trash{
    position: absolute;
    right: 5px;
}

.btn-create{
    margin-left:50px;
}

form{
    position:relative;
}
